:root {
    --dark-blue: #373C7D;
    --light-blue: #E8EDF2;
    --font-family: "Inter";
}


* {
    box-sizing: border-box;
}

.track {
    margin: 0;
    background: var(--light-blue);
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
}

/* Page */

.track-page {
    width: 100%;
    height: 676px;
    display: flex;
    justify-content: center;
}

.track-container {
    width: 1220px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 60px;
    margin: auto;
    justify-content: center;
    align-items: center;
}

/* Title */

.track-title {
    font-family: Public Sans;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
}

/* Labels */

.track-label {
    font-family: Public Sans;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: left;
    width: 588px;
    margin: 40px auto 8px;
}

/* Inputs */

.track-input {
    width: 588px;
    height: 56px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #CFDBE8;
    background: #F7FAFC;
    font-size: 16px;
}

/* Placeholder */

.track-input::placeholder {
    color: #4D7399;
}

/* Remove default focus */

.track-input:focus {
    outline: none;
}

/* Button */

.track-btn {

    margin-top: 50px;
    width: 152px;
    height: 40px;
    border-radius: 8px;
    border: none;
    background: #373C7D;
    color: #F7FAFC;
    font-family: "Public Sans";
    font-weight: 700;
    font-size: 16px;
    box-shadow: 0px 4px 4px #00000040;
    cursor: pointer;

}

/* Help text */

.track-help {
    margin-top: 40px;
    font-family: Public Sans;
    font-size: 16px;
    color: #4D7399;
    text-align: center;
}

/* Mobile Devices: up to 767px */
@media (max-width: 767px) {
    .track-container {
        width: 90%;
        /* smaller width for mobile */
        padding-top: 30px;
    }

    .track-title {
        font-size: 24px;
        line-height: 30px;
    }

    .track-label {
        width: 100%;
        /* full width */
        font-size: 16px;
    }

    .track-input {
        width: 100%;
        /* full width input */
        height: 48px;
        font-size: 14px;
        padding: 12px;
    }

    .track-btn {
        width: 100%;
        height: 40px;
        font-size: 14px;
    }
}

/* Laptop / Desktop: from 768px and above */
@media (min-width: 768px) {
    .track-container {
        width: 1220px;
        /* original width */
        padding-top: 60px;
    }

    .track-title {
        font-size: 32px;
        line-height: 40px;
    }

    .track-label {
        width: 588px;
        font-size: 20px;
    }

    .track-input {
        width: 588px;
        height: 56px;
        font-size: 16px;
        padding: 15px;
    }

    .track-btn {
        width: 152px;
        height: 40px;
        font-size: 16px;
    }
}